html, body{
    background: #f9f9f9;
    text-align: center;
    margin: 0px;
}

.container{
    padding: 30px 5vw 50px 5vw;
    height: 80vh;
    position: relative;
    text-align: left;
    
    .chart{
        &__container{
            position: absolute;
            width: calc(100% - 10vw);
            height: calc(100% - 140px);
        }

        &__title{
            line-height: 40px;
            position: absolute;
            top: 160px;
            left: 10vw;
            color: white;
            font-family: 'Open sans';
            margin: 0px;
        }

        &__score{
            font-weight: 600;
            font-size: 40px;
        }

        &__category{
            font-size: 30px;
        }

        &__date{
            font-size: 20px;
            font-weight: 400;
        }
    }

    


}
* {
    box-sizing: border-box;
    transition: 0.6s;
}
.milestonesGroup {
    margin-top: 20px;
    width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;

    .milestone{
        display: flex;
        align-items: center;
        max-width: calc(50vw - 20px);
        margin: 10px;
        border-radius: 3px;
        background-color: #ffffff;
        color: #777777;
        font-family: 'Open sans';
        padding: 25px 30px 25px 10px;
        position: relative;
        transition: .3s;
        top: 0px;

        &__title{
            text-align: left;
            margin: 0px;
            font-size: 15px;
            padding-left: 10px;
        }

        &__date{
            font-weight: 900;
            margin: 0px;
            font-size: 13px;
            padding: 3px 10px;
            color: #ffffff;
            border-radius: 3px;
            transform: rotate(-90deg);
        }

        &:hover{
            position: relative;
            top: -5px;
        }
    }
}

.btnsGroup{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
    margin-top: -10px;
}

.btn{   
    font-size: 16px;    
    font-weight: 600;
    font-family: 'Open Sans';
    border: none;
    width: max-content;

    &--toggle{
        margin: 10px 20px;
        padding: 0px;
        background-color: transparent;
        transition: .3s;
        color: rgba(256, 256, 256, 0.6);
        position: relative;

        &:after{
            position: absolute;
            content: "";
            height: 3px;
            width: 0px;
            left: 0px;
            bottom: -10px;
            background: white;
            transition: .3s;
        }

        &--active, &:hover{
            color: white;
        }

        &--active{
            border-color: white;

            &:after{
                width: 100%;
            }
        }

        &:hover{
            cursor: pointer;
        }

        &:focus{
            outline: none;
            color: white;           
        }
    }


}

@media only screen and (max-width: 400px) {
    .container{
        .chart{
            &__title{
                line-height: 15px !important;
            }
    
            &__score{
                font-size: 20px !important;
            }
    
            &__category{
                font-size: 15px !important;
            }
    
            &__date{
                font-size: 10px !important;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .btnsGroup {
        .btn--toggle{
            margin: 10px 10px;
            font-size: 14px;
        }
    }
    .container{
        .chart{
            &__title{
                top: 130px;
                left: 80px;
                line-height: 25px;
            }
    
            &__score{
                font-size: 30px;
            }
    
            &__category{
                font-size: 20px;
            }
    
            &__date{
                font-size: 16px;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .milestonesGroup {
        .milestone{
            padding: 30px 20px 20px 20px;
            max-width: calc(50vw - 20px);
            margin: 10px;

            &__title{ 
                font-size: 12px;
            }

            &__date{
                left: 20px;
                font-size: 10px;
                top: 13px;
            }
        }
    }
}
@media only screen and (max-width: 1279px) {
    .container{
        .chart{
            &__title{
                top: 160px;
                left: 80px;
                line-height: 35px;
            }
    
            &__score{
                font-size: 40px;
            }
    
            &__category{
                font-size: 30px;
            }
    
            &__date{
                font-size: 20px;
            }
        }
    }
}
