html, body {
  background: #f9f9f9;
  text-align: center;
  margin: 0px;
}

body {
  padding-bottom: 5vw;
}

.container {
  padding: 30px 5vw 50px 5vw;
  height: 80vh;
  position: relative;
  text-align: left;
}

.container--small {
  height: 50vh;
}

.container .chart__container {
  position: absolute;
  width: calc(100% - 10vw);
  height: calc(100% - 140px);
}

.container .chart__title {
  position: absolute;
  top: 160px;
  left: 10vw;
  color: white;
  font-family: 'Open sans';
  margin: 0px;
  padding-right: 15vw;
  font-size: 40px;
}

.container .chart__score {
  font-size: 1em;
}

.container .chart__category {
  font-size: 0.75em;
}

.container .chart__date {
  font-size: 0.5em;
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.milestonesGroup {
  margin-top: 20px;
  margin-bottom: 80px;
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

.milestonesGroup .milestone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 20%;
  margin: 5px 0px;
  border-radius: 3px;
  background-color: #ffffff;
  color: #777777;
  min-height: 80px !important;
  font-family: 'Open sans';
  padding: 10px 15px 10px 45px;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  right: 0px;
}

.milestonesGroup .milestone:not(:first-child) {
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%, 5% 50%);
          clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%, 5% 50%);
}

.milestonesGroup .milestone:first-child {
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
}

.milestonesGroup .milestone:last-child {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%, 5% 50%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%, 5% 50%);
}

.milestonesGroup .milestone__title {
  text-align: left;
  margin: 0px;
  font-size: 12px;
  padding: 0px 3% 0px 5%;
}

.milestonesGroup .milestone__date {
  font-weight: 900;
  position: absolute;
  margin: 0px;
  left: 5%;
  top: 21px;
  font-size: 9px;
  padding: 3px 12px;
  color: #ffffff;
  border-radius: 3px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.milestonesGroup .milestone:hover {
  position: relative;
  right: -5px;
}

.btnsGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 40px;
  margin-top: -10px;
}

.link {
  margin-top: 50px;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 15px 30px;
  font-weight: 600;
  font-family: 'Open Sans';
  font-size: 16px;
}

.link:focus, .link:hover {
  -webkit-box-shadow: -4px 4px 20px rgba(255, 255, 255, 0.4);
          box-shadow: -4px 4px 20px rgba(255, 255, 255, 0.4);
}

.link--invisible {
  display: none;
}

.btn {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Open Sans';
  border: none;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.btn--toggle {
  margin: 10px 20px;
  padding: 0px;
  background-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
}

.btn--toggle:after {
  position: absolute;
  content: "";
  height: 3px;
  width: 0px;
  left: 0px;
  bottom: -10px;
  background: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn--toggle--active, .btn--toggle:hover {
  color: white;
}

.btn--toggle--active {
  border-color: white;
}

.btn--toggle--active:after {
  width: 100%;
}

.btn--toggle:hover {
  cursor: pointer;
}

.btn--toggle:focus {
  outline: none;
  color: white;
}

@media only screen and (max-width: 1279px) {
  .container .chart__title {
    top: 160px;
  }
}

@media only screen and (max-width: 600px) {
  .btnsGroup .btn--toggle {
    margin: 10px 10px;
    font-size: 14px;
  }
  .container .chart__title {
    top: 130px;
    font-size: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .container .chart__title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 968px) {
  .milestonesGroup .milestone {
    width: 33%;
  }
}

@media only screen and (max-width: 710px) {
  .milestonesGroup .milestone {
    width: 50%;
  }
}

@media only screen and (max-width: 450px) {
  .milestonesGroup .milestone {
    width: 100%;
  }
}

@media only screen and (max-width: 4000px) {
  .milestonesGroup .milestone__title {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 1500px) {
  .milestonesGroup .milestone__title {
    font-size: 13px !important;
  }
}
/*# sourceMappingURL=main.css.map */