html, body {
  background: #f9f9f9;
  text-align: center;
  margin: 0px;
}

.container {
  padding: 30px 5vw 50px 5vw;
  height: 80vh;
  position: relative;
  text-align: left;
}

.container .chart__container {
  position: absolute;
  width: calc(100% - 10vw);
  height: calc(100% - 140px);
}

.container .chart__title {
  line-height: 40px;
  position: absolute;
  top: 160px;
  left: 10vw;
  color: white;
  font-family: 'Open sans';
  margin: 0px;
}

.container .chart__score {
  font-weight: 600;
  font-size: 40px;
}

.container .chart__category {
  font-size: 30px;
}

.container .chart__date {
  font-size: 20px;
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.milestonesGroup {
  margin-top: 20px;
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.milestonesGroup .milestone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: calc(50vw - 20px);
  margin: 10px;
  border-radius: 3px;
  background-color: #ffffff;
  color: #777777;
  font-family: 'Open sans';
  padding: 25px 30px 25px 10px;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  top: 0px;
}

.milestonesGroup .milestone__title {
  text-align: left;
  margin: 0px;
  font-size: 15px;
  padding-left: 10px;
}

.milestonesGroup .milestone__date {
  font-weight: 900;
  margin: 0px;
  font-size: 13px;
  padding: 3px 10px;
  color: #ffffff;
  border-radius: 3px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.milestonesGroup .milestone:hover {
  position: relative;
  top: -5px;
}

.btnsGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 40px;
  margin-top: -10px;
}

.btn {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Open Sans';
  border: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.btn--toggle {
  margin: 10px 20px;
  padding: 0px;
  background-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  text-decoration: none;
}

.btn--toggle:after {
  position: absolute;
  content: "";
  height: 3px;
  width: 0px;
  left: 0px;
  bottom: -10px;
  background: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn--toggle--active, .btn--toggle:hover {
  color: white;
}

.btn--toggle--active {
  border-color: white;
}

.btn--toggle--active:after {
  width: 100%;
}

.btn--toggle:hover {
  cursor: pointer;
}

.btn--toggle:focus {
  outline: none;
  color: white;
}

@media only screen and (max-width: 400px) {
  .container .chart__title {
    line-height: 15px !important;
  }
  .container .chart__score {
    font-size: 20px !important;
  }
  .container .chart__category {
    font-size: 15px !important;
  }
  .container .chart__date {
    font-size: 10px !important;
  }
  .milestonesGroup .milestone {
    padding: 15px 10px 15px 0px;
  }
  .milestonesGroup .milestone__title {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .btnsGroup .btn--toggle {
    margin: 10px 10px;
    font-size: 14px;
  }
  .container .chart__title {
    top: 130px;
    left: 80px;
    line-height: 25px;
  }
  .container .chart__score {
    font-size: 30px;
  }
  .container .chart__category {
    font-size: 20px;
  }
  .container .chart__date {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .milestonesGroup .milestone {
    max-width: calc(50vw - 20px);
    margin: 10px;
  }
  .milestonesGroup .milestone__title {
    font-size: 12px;
  }
  .milestonesGroup .milestone__date {
    left: 20px;
    font-size: 10px;
    top: 13px;
  }
}

@media only screen and (max-width: 1279px) {
  .container .chart__title {
    top: 160px;
    left: 80px;
    line-height: 35px;
  }
  .container .chart__score {
    font-size: 40px;
  }
  .container .chart__category {
    font-size: 30px;
  }
  .container .chart__date {
    font-size: 20px;
  }
}
/*# sourceMappingURL=main.css.map */