.container{
    background: #CB157D;
    padding: 40px 20vw;
    width: 100%;
}
* {
    box-sizing: border-box;
    transition: 0.6s;
}

.milestonesGroup {
    width: 100%;

    .milestone{
        display: inline-block;
        max-width: 270px;
        margin: 20px;
        background-color: rgb(203, 21, 125);
        border-radius: 3px;
        color: white;
        font-family: 'Open sans';
        padding: 50px 30px;
        position: relative;
        box-shadow: 4px 4px 20px rgba(203, 21, 125, 0.4);

        &__title{
            text-align: left;
            margin: 0px;
        }

        &__date{
            position: absolute;
            opacity: .7;
            right: 30px;
            font-weight: 900;
            bottom: 20px;
            text-align: right;
            margin: 0px;
            font-size: 13px;
        }
    }
}

.btnsGroup{
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn{   
    border-radius: 2px 2px 0 0;
    font-size: 16px;
    font-family: 'Open Sans';
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    transition: 0s !important;

    &--toggle{
        margin: 0px;
        background-color: #f9f9f9;
        transition: .3s !important;

        &--active, &:hover{
            color: white;
            background-color: var(--theme-color);
            transition: .3s !important;
        }
        
        &:hover{
            cursor: pointer;
        }

        &:focus{
            outline: none;
        }
    }


}

html, body{
    background: #f9f9f9;
    text-align: center;
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    .btnsGroup {

        .btn{
            padding: 10px 10px;
            width: 100%;
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 1279px) {
    .container{
        padding: 20px 40px;
    }
}
